.flex-row {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.dropdown-container {
  margin: .25rem;
}

.loader-container {
  display: flex;
  height: 100vh;
  width: 100vh;
  justify-content: center;
  margin-top: 200px;
}

.zoom-button {
  z-index: 1;
  position: relative;
}

.graph-container {
  display: flex;
  width: 100%;
  height: 100%;
}

@media only screen and (max-width: 991px){ 
    
}

@media only screen and (max-width: 767px){ 
  .graph-container {
    flex-direction: column-reverse!important;
    align-items: center;
  }
}

@media only screen and (max-width: 479px){ 

}
